{{ define "content" }}

<h1>Signup</h1>

<div style="width: 30rem">
  <form action="/signup" method="post">
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        required
      />
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        required
      />
    </div>

    <div class="col-auto">
      <button type="submit" class="btn btn-primary">Signup</button>
      <a class="btn btn-secondary" href="/" role="button">Back</a>
    </div>
  </form>
</div>

{{ end }}
