{{ define "content" }}

<h1>Task detail</h1>

<div class="card" style="width: 30rem">
  <div class="card-body">
    <h3 class="card-title">
      {{ .Name }}
      <span
        class="badge {{ if eq .Status 0 }} bg-secondary {{ else if eq .Status 1 }} bg-success {{
        else }} bg-danger {{ end }}"
      >
        {{ if eq .Status 0 }} Working {{ else if eq .Status 1 }} Completed {{
        else }} Behind {{ end }}</span
      >
    </h3>
    <p class="card-text">{{ .Detail }}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      Deadline
      <p class="card-text">{{ .Deadline }}</p>
    </li>
    <li class="list-group-item">
      CompletionDate
      <p class="card-text">
        {{ if .CompletionDate }}{{ .CompletionDate }}{{ else }} - {{ end }}
      </p>
    </li>
    <li class="list-group-item">
      PostponedCount
      <p class="card-text">{{ .PostponedCount }}</p>
    </li>
  </ul>
  <div class="card-body">
    <a class="btn btn-primary" href="/tasks/{{.ID}}/edit" role="button"
      >Edit Task</a
    >
    <a class="btn btn-secondary" href="/tasks" role="button">Back</a>
  </div>
</div>

{{ end }}
