{{ define "content" }}

<h1>Task list</h1>

<div class="col-auto btn-sm">
  <a class="btn btn-primary" href="tasks/new" role="button">New</a>
  <a class="btn btn-secondary" href="logout" role="button">Logout</a>
</div>

<ol class="list-group list-group-numbered">
  {{ range .}}
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold"><a href="/tasks/show/{{ .ID }}">{{ .Name}}</a></div>
      {{ if eq .Status 0 }} Working {{ else if eq .Status 1 }} Completed {{ else
      }} Behind {{ end }}
    </div>
    <span
      class="badge{{ if eq .Status 2 }} bg-danger {{ else }} bg-primary {{ end }} rounded-pill"
      >{{ .Deadline }}</span
    >
  </li>
  {{ end }}
</ol>

{{ end }}
